body {
    margin-top: 50px;
    margin-left: 100px;
}
  
p {
    font-family: 'Roboto', sans-serif;
    color: DarkSlateGray;
}
  
h1 {
    font-family: 'Cutive Mono', monospace;
}

h2 {
    font-family: 'Cutive Mono', monospace;
}

.caption {
    text-align: center;
    font-size: 100px;
}

div.ex1 {
    width: 700px;
    margin: auto;
}

div, iframe {
    margin: 0 auto;
    display:block;
}