<html>
    <head>
        <link rel="stylesheet" href='static/main.css?Saturday 24th October 2020 6M'/>
        <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="ex1">
            <h1>🤬 Twitter Hate Speech Detector 📊</h1>
            <p>
                This platform serves to monitor hate speech detected on Twitter. Here, we can find a general overview of the top twenty
                most negative words on Twitter that are being used. In additon, we can also examine a record of tweets that could be classified as 
                offensive above a 90% likelihood.
            </p>
            <div class="row">
                <div class="column">
                    <br>
                    <br>
                    <br>
                    <img src="static/plot.png" alt="top twenty words" style="width:100%">
                    <p class="caption">Top Twenty Negative Words on Twitter</p>
                </div>
                <div class="column">
                    <img src="static/negpos.png" alt="negative positive word count" style="width:100%">
                    <p class="caption">Ratio of Negative to Neutral/Positive Words on a Given Dataset</p>
                </div>
            </div>
            <br>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/q4Yb8AWXgLI" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="caption">Music Video: T5 (Swet Shop Boys)</p>
            <hr>
            <h2>About the model</h2>
            <hr>
            <h2>Prototype/version notes</h2>
            <p>
                The model created is currently offline and has not been deployed yet. Currently, I have applied for Twitter developer access in order
                to secure API keys and create a live feed upon deploying the logistic regression algorithm. The current code line for this application
                is maintained at this <a href="https://github.com/shilpakancharla/hate-speech">repository</a>.
            </p>
            <hr>
            <h2>Extensions</h2>
            <p>
                This platform should be extended into any kind of social media where there is an opportunity to see public content. Examples of this 
                could include Instagram, LinkedIn, and even YouTube comments. 
            </p>
            <hr>
        </div>
    </body>
</html>